{{- $github_pat := promptStringOnce . "gh_pat" "Github Personal Access Token" -}}
[data]
  github_account = "Forestsoft-de"
  github_pat = {{ $github_pat | quote }}
  encryption = "gpg"

[gpg]
  recipient = "15696C5ECFA72ED0878336763BC542E629AF0562"
  args = ["--quiet"]

[edit]
    command = "nano"
