{{- $email := promptStringOnce . "email" "Email address" -}}
[data]
  email = {{ $email | quote }}
  encryption = "gpg"

[gpg]
  recipient = "15696C5ECFA72ED0878336763BC542E629AF0562"
  args = ["--quiet"]

[edit]
    command = "nano"
